# Dependabot doesn't update bun.lock, so we do it here
# Inspiration: https://github.com/axelrindle/mjml.app/blob/main/.github/workflows/dependabot-bun.yml
name: "Dependabot: Update bun.lock"

on:
  pull_request:
    paths:
      - "package.json"

permissions:
  contents: write

jobs:
  update-bun-lock:
    name: "Update bun.lock"
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.4"

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}

      - run: bun install

      - run: |
          git add bun.lock
          git config --global user.name 'dependabot[bot]'
          git config --global user.email 'dependabot[bot]@users.noreply.github.com'
          git commit --amend --no-edit
          git push --force
